.title {
	margin-bottom: 3em;
	text-align: center;
}

#game {
	height: 500px;
	width: 500px;
	border: solid 1px black;
	display: block;
	margin: 0 auto;
	background: url(../img/background.png);
}